Admission requirements differ significantly depending on your country of origin as well as the credential that you wish to pursue.

In order to be admitted into the program of your choice you must:

Please select your country of origin and credential of interest under the drop down tab in "See Credential Requirements" in order to view specific requirements for your country.

Have graduated from senior secondary school or equivalent (those applying for a postgraduate program must have graduated from a university or college)
Pay the non-refundable application fee (see Tuition Fees and Related Costs for International Students for application fees)
Provide proof of English proficiency, if English is not the first language in your country. Please see your options for providing proof of English proficiency below.

We do not have the capacity to admit all applicants who meet the minimum general and program-specific requirements. Please note that programs can close early if international enrollment for the program is already achieved and there is no more capacity. Submission of an application does not guarantee an offer of a place in a program.

Please attach all documents required in support of your application but do not send any extra documents that are not required. For most countries, copies of originals should be attested as "true copies" by the educational institution or by a notary.

Applicants who are under 18 must also submit custodianship documents.

George Brown College Admissions Officers reserve the right to request original documents if there are any doubts or questions with regard to authenticity or legibility of documents submitted electronically.
